<h4>いいね数: <%= post_image.favorites.count %></h4>
       <% if current_user.already_favorited?(post_image) %>
       <%= button_to 'unlike', post_image_favorites_path(post_image), method: :delete, remote: true  %>
      <% else %>
       <%= button_to 'like', post_image_favorites_path(post_image), method: :post, remote: true  %>
      <% end %>
      <h4>いいねしたユーザー</h4>
      <% post_image.favorited_users.each do |user| %>
       <li><%= user.name %></li>
      <% end %>