<div class="col-md-6 col-md-offset-2">
<ul class="slick-box"> <!--classは任意の名前でOK-->
  <li><%= image_tag('img/asia.jpg', class: 'block-image') %></li>
  <li><%= image_tag('img/italy.jpg', class: 'block-image') %></li>
  <li><%= image_tag('img/sunset.jpg', class: 'block-image') %></li>
  <li><%= image_tag('img/desert.jpg', class: 'block-image') %></li>
</ul>
</div>